* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: whitesmoke;
}
.reg_form {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reg_form_content {
  background-color: white;
  min-height: 550px;
  min-width: 400px;
}
.reg_form_content h2 {
  text-align: center;
  padding: 26px 0px 10px 0px;
}
.input_block {
  display: flex;
  flex-direction: column;
  margin: 0 40px 10px 40px;
}
.input_block p {
  color: red;
}
.input_block .gender_block {
  display: flex;
  justify-content: space-between;
}
.input_block .gender_block .gender_input_block span {
  padding: 0px 8px;
  font-size: 16px;
}
.input_block .input_label {
  font-size: 22px;
  color: black;
}
.input_block input {
  padding: 12px 0 12px 6px;
  margin-top: 4px;
  border: 1px solid gray;
  border-radius: 6px;
}
.input_block input::placeholder {
  font-size: 16px;
}
.input_block .check-box {
  padding-top: 2px;
}
.input_block .check-box span {
  padding-left: 10px;
  font-size: 18px;
  color: black;
}
.modal_btn {
  text-align: end;
  margin: 0 40px 0 0;
  padding-top: 12px;
}
.modal_btn button {
  border: transparent;
  font-size: 18px;
  font-weight: 500;
  background-color: rgb(144, 42, 42);
  color: whitesmoke;
  padding: 8px 18px;
}

@media (min-width: 0) and (max-width: 478px) {
  .reg_form_content h2 {
    padding: 50px 0px 24px 0px;
  }
  .input_block {
    margin: 0 25px 8px 25px;
  }
  .input_block .input_label {
    font-size: 18px;
  }
  .input_block input {
    padding: 8px 0 8px 4px;
  }
  .modal_btn button {
    font-size: 16px;
    font-weight: 400;
    padding: 6px 16px;
  }
  .input_block .check-box span {
    padding-left: 6px;
    font-size: 14px;
  }
}
/*Responsive part*/
@media (max-width: 444px) {
  .reg_form_content {
    min-width: 320px;
  }
}
@media (min-width: 445px) and (max-width: 478px) {
  .reg_form_content {
    min-width: 387px;
  }
}
